################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/giugnosaro/FileContentIndex/02fc7b14-6a25-4393-a019-00eaa58c50ec.vsidx
/.vs/giugnosaro/FileContentIndex/0b27d127-15f7-4d08-a24c-d62a251ba9c2.vsidx
/.vs/giugnosaro/FileContentIndex/a990e724-4466-4516-8bfb-6956c677f943.vsidx
/.vs/giugnosaro/FileContentIndex
